extends email-layout

block content
  h2 Password Reset
  p Hello. You have requested a password reset. Click the button to reset your password. This link is only valid for the next hour.
  +button(resetURL, 'Reset my Password →')
  p If you can't click the above button, visit #{resetURL}
