extends layout

include mixins/_chatForm

block content
  .inner
    h2= title
    +chatForm()
    #messages.form
      h2 Messages:

block scripts
  script(src="/dist/App.bundle.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
  script.
    var socket = io();
    socket.on( 'clientMessage', function(data) {
        console.log('received message', data);
        messages.insertAdjacentHTML('beforeend', '<p>'+data.name+': '+data.message+'</p>');
    });

    sendData.addEventListener('click', function() {
        var message = {}
        message.name = nameInput.value
        message.message = messageInput.value;

        if (!message.name || !message.message) {
          let error = '<p>Error: no name or message</p>';
          errors.innerHTML = error;
        } else {
          errors.removeChild(errors.firstChild);
          socket.emit('buttonClick', message);
          console.log('sent message', message);
        }
    });
