mixin chatForm()

  .form
    h2 Write a message
    label Name
    input(type="text", id="nameInput")
    label Message
    input(type="text", id="messageInput")
    input.button(type="button", value="Send", id="sendData")